@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  position: absolute;
  top: 15px;
  left: 5%;
  z-index: 2;
}

.slider-content span:nth-of-type(2){
  margin-bottom: 10px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
}

.slider-content span:nth-of-type(2)::first-letter { text-transform: capitalize; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*banner section start*/
.banner-section .wrapper,
.slider-images li { width: 100%; }

.slider-images li { position: relative; }

.slider-content { 
  width: 35%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 50%);
}

.icon {
  display: inline-block;
  position: relative;
  text-indent: -9999px;
}

.icon::before {
  position: absolute;
  font-family: "FontAwesome";
  left: 0;
  text-indent: 0;
}

.play,
.see,
.lorem { 
  width: 20px;
  height: 20px;
  margin: 0 auto 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
}

.play::before,
.see::before,
.lorem::before {
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 13px;
  transform: translate(-50%, -50%);
}

.play::before { content: '\f04b'; }
.see::before { content: '\f02d'; }
.lorem::before { content: '\f2b9'; }


.download a {
  padding: 5px;
  border-radius: 3px;
  background-color: #F5470C;
  color: #fff;
  font-size: 10px;
  text-transform: capitalize;
}

.slider-images { position: relative; }

.arrow,
.left-arrow,
.right-arrow { position: absolute; }

.arrow {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow { 
  width: 20px;
  height: 20px;
  left: 5%;
}

.right-arrow { right: 5%; }

.left-arrow::before,
.right-arrow::before {
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-arrow::before { content: '\f053'; }
.right-arrow::before { content: '\f054'; }
.slider-images img { max-height: 277px; }
.banner-section .wrapper { position: relative; }
.slider-images > li { display: none; }
.slider-images > li.show { display: block; }
/*banner section end*/

/*card section start*/
.card-section { padding: 25px 0; }
.card-icon::before { content: '\f04b'; }

.card-section ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card-section ul { gap: 20px; }

.card-section ul li { 
  gap: 10px;
  text-align: center;
}

h2 {
  color: #3D3D3D;
  font-size: 17px;
  text-transform: capitalize;
}

.card-section p {
  font-size: 12px;
  line-height: 20px;
  text-align: justify;
  color: #555;
}

.card-section p span { color: #F5460C; }
/*card section end*/

/*accordion section start*/
.accordion-head { 
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #EBEBEB;
  justify-content: space-between;
}

h3::first-letter { text-transform: capitalize; }

.accordion p {
  padding: 10px;
  color: #666;
  font-size: 11px;
  line-height: 17px;
  text-align: justify;
}

h3 { 
  flex-basis: 90%;
  font-size: 15px;
}

.para { display: none; }

.accordion li { 
  width: 100%;
  margin-bottom: 15px;
 }

.line::before {
  width: 15px;
  height: 2px;
  background-color: #000;
  content: '';
}

.line::after {
  width: 2px;
  height: 15px;
  background-color: #000;
  content: '';
  position: absolute;
  font-family: "FontAwesome";
  left: 0;
  text-indent: 0;
}

.line::before,
.line::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  width: 25px;
  height: 15px;
}

.accordion-head span.active::after { display: none; }
.show { display: block; }
.hide { display: none; }
/*accordion section end*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 480px starts here*/
@media only screen and (min-width: 480px) {
.play,
.see,
.lorem {
  width: 30px;
  height: 30px;
}

.slider-content span:nth-of-type(2) { font-size: 16px; }
.download a { font-size: 12px; }
}  

/*media query for 540px starts here*/
@media only screen and (min-width: 540px) {
.play,
.see,
.lorem {
  width: 40px;
  height: 40px;
}

.slider-content span:nth-of-type(2) {
  margin-bottom: 15px;
  font-size: 20px;
}

.slider-images img { max-height: 392px; }
.slider-images img { max-height: 561px; }
}  

/*media query for 768px starts here*/
@media only screen and (min-width: 768px) {
.play,
.see,
.lorem {
  width: 60px;
  height: 60px;
  margin: 0 auto 30px;
}

.slider-content span:nth-of-type(2) {
  margin-bottom: 20px;
  font-size: 22px;
}

.download a { padding: 10px 5%; }

.play::before,
.see::before,
.lorem::before { font-size: 25px; }

.card-section ul {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.card-section ul li { flex-basis: 47%; }
.card-section { padding: 40px 0; }
}  

/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {
.card-section ul li { flex-basis: 22%; }
.card-section p { text-align: center; }
h3 { font-size: 18px; }
.accordion p { font-size: 12px; }

.left-arrow::before,
.right-arrow::before { font-size: 30px; }
}

/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {
.slider-images figure img {
  max-height: 710px;
  object-fit: cover;
}

.slider-images li { width: 100%; }
.accordion-head { padding: 20px 2%; }
.accordion p { padding: 10px 2% }

.card-section .wrapper,
.accordion-section .wrapper { width: 80%; }
}  

/*media query for 1366px starts here*/
@media only screen and (min-width: 1366px) {
  .play,
  .see,
  .lorem {
    width: 250px;
    height: 250px;
    border: 2px solid #fff;
  }
  
  .play::before,
  .see::before,
  .lorem::before { font-size: 115px; }
  
  .left-arrow::before,
  .right-arrow::before { font-size: 40px; }
  
  .slider-content span:nth-of-type(2) { font-size: 38px; }
  }